body{

	background-color:rgb(58, 88, 71);
}
h1{
	color:rgb(226, 91, 0);
}
input[type="text"]{
	border-radius: 5px;
	width:300px;
	font-size: 30px;
	height: 50px;
}

#p1{
	font-size: 50px;
	color: rgb(85, 255, 71);
}